# EXPLORASI DATA

Eksplorasi data adalah proses untuk menggali dan menganalisis data secara menyeluruh dengan tujuan memahami karakteristik data, menemukan pola atau tren yang menarik, serta mengidentifikasi hubungan atau insight penting yang terkandung dalam data. Tujuan utama dari eksplorasi data adalah untuk mendapatkan pemahaman yang lebih baik tentang data yang ada sebelum melakukan analisis lebih lanjut atau pengambilan keputusan.

Menarik data iris dari postgesql kemudian dibaca dengan phyton dijadikan dataframe jalankan dijupyter notebok di local

Nama : Jhon Filius Gultom
Nim  : 210411100019

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.5.3'

In [ ]:
pd.read_csv("dataku.csv")

     sepal.length  sepal.width  petal.length  petal.width    variety
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]

In [ ]:
DATA_IRIS = pd.read_csv("dataku.csv")
# Print Dataframe
DATA_IRIS

     sepal.length  sepal.width  petal.length  petal.width    variety
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]

Cara yang lain :

In [ ]:
import psycopg2

In [ ]:
import pandas as pd

In [ ]:
conn = psycopg2.connect(
    database="postgres",
    host="localhost",
    user="postgres",
    password="176283565"
)


query ="SELECT * FROM data_iris"

df= pd.read_sql_query(query, conn)

conn.close()

print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7864\1014570128.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query, conn)