# EXPLORASI DATA

Eksplorasi data adalah proses untuk menggali dan menganalisis data secara menyeluruh dengan tujuan memahami karakteristik data, menemukan pola atau tren yang menarik, serta mengidentifikasi hubungan atau insight penting yang terkandung dalam data. Tujuan utama dari eksplorasi data adalah untuk mendapatkan pemahaman yang lebih baik tentang data yang ada sebelum melakukan analisis lebih lanjut atau pengambilan keputusan.

Menarik data iris dari postgesql kemudian dibaca dengan phyton dijadikan dataframe jalankan dijupyter notebok di local

Nama : Jhon Filius Gultom
Nim  : 210411100019

In [12]:
import pandas as pd

In [ ]:
pd.__version__

'1.5.3'

In [22]:
dataset = pd.read_csv ("https://raw.githubusercontent.com/Jhonfiliusgultom3/data/main/dataku.csv")
# Print Dataframe

In [24]:
dataset.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0  sepal.length  sepal.width  petal.length  petal.width  variety
1           5.1          3.5           1.4           .2   Setosa
2           4.9            3           1.4           .2   Setosa
3           4.7          3.2           1.3           .2   Setosa
4           4.6          3.1           1.5           .2   Setosa

In [ ]:
import psycopg2

In [ ]:
import pandas as pd

In [27]:
import psycopg2
import pandas as pd
# Connection parameters, yours will be different
param_dic = {
    "host"      : "localhost",
    "database"  : "postgres",
    "user"      : "postgres",
    "password"  : "176283565"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [28]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [29]:
# Connect to the database
conn = connect(param_dic)

column_names = ["sepal_length", "sepal_width", "petal_length", "petal_width","variety"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from irispendata", column_names)
df.head()

Connecting to the PostgreSQL database...
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Cannot assign requested address
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?

NameError: ignored